* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  background: #fafafa; }

.container {
  margin: 0 auto;
  max-width: 1024px; }

.search {
  display: flex;
  padding-top: 20px;
  justify-content: center; }
  .search input[id="search"] {
    width: 300px;
    padding: 10px; }

.photo {
  position: relative;
  overflow: hidden;
  height: 200px; }
  .photo img {
    transform-origin: 50% 65%;
    transition: transform 1s, filter 3s ease-in-out; }
  .photo:hover .photo-overlay {
    opacity: 1; }
  .photo:hover img {
    transform: scale(1.5); }
  .photo-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease-in-out;
    background: rgba(0, 0, 0, 0.7); }
  .photo .text {
    color: white;
    font-size: 1.2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  justify-content: center;
  margin: 20px;
  grid-gap: 20px; }
